.buttons{
    display: flex;
    justify-content: center;
}
.button{
    padding: 10px;
}
.mainArea{
    display: flex;
    justify-content: center;
    padding:50px;
}
#flexible{
    min-height: 50px;
    min-width: 50px;
    max-height: 500px;
    max-width: 500px;
    background: White;
    border:solid rgb(102, 255, 0) 5px;
    transition: 1s;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.square{
    width: 50px;
    height: 50px;
}

.rectangle{
    width: 300px;
    height: 100px;
}

.thin-verticle{
    width: 50px;
    height: 300px;
}

.thin-horizontal{
    width: 300px;
    height: 50px;
}

.shadow{
    box-shadow: 2px 2px 5px 5px rgb(125, 125, 125);
}
